@charset "UTF-8";

body {
    position: relative;
    color: #3e396b;
    overflow-x: hidden;
}

h1, h3, strong {
    font-family: "Product Sans", Helvetica, Arial, serif;
    line-height: 1.5;
}

h1.h2 {
    font-weight: 700;
}

a {
    color: #7642FF;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a:hover, a:focus, a:active {
    color: #2e00a8;
}

.btn {
    font-size: 14px;
    border-radius: 30px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn-xl {
    padding: 12px 36px;
}

.btn-primary,
.btn-primary:focus {
    background-color: #7642FF;
    background-image: -webkit-gradient(linear, left top, right top, from(#7642FF), to(#4259ff));
    background-image: linear-gradient(90deg, #7642FF, #4259ff);
    border: 0;
    color: #fff;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus:hover, .btn-primary:focus:active {
    color: #fff;
    background-color: #6429ff;
    background-image: -webkit-gradient(linear, left top, right top, from(#4259ff), to(#7642FF));
    background-image: linear-gradient(90deg, #4259ff, #7642FF);
}

.btn-outline-primary {
    color: #7642FF;
    background-image: none;
    background-color: transparent;
    border-color: #7642FF;
}

.btn-outline-primary:hover, .btn-outline-primary:active {
    color: #fff;
    background-color: #7642FF;
    border-color: #7642FF;
    background-image: -webkit-gradient(linear, left top, right top, from(#7642FF), to(#4259ff));
    background-image: linear-gradient(90deg, #7642FF, #4259ff);
}

.bg-light {
    background-color: #f8faff !important;
}

.bg-shape {
    position: absolute;
    background-color: #7642FF;
    background-image: linear-gradient(100deg, #7642FF, #4259ff);
    top: -350px;
    right: -110px;
    border-radius: 8%;
    width: 50%;
    height: 800px;
    -webkit-transform: skew(3deg, 30deg);
    -ms-transform: skew(3deg, 30deg);
    transform: skew(3deg, 30deg);
    opacity: 1;
    z-index: -1;
}

@media (max-width: 991px) {
    .bg-shape {
        top: -150px;
        right: 0;
        width: 20%;
        height: 500px;
    }
}

@media (max-width: 767px) {
    .bg-shape {
        display: none;
    }
}

.bg-circle {
    position: absolute;
    background-color: #7642FF;
    background-image: linear-gradient(100deg, #7642FF, #4259ff);
    top: -400px;
    left: -350px;
    border-radius: 100%;
    height: 800px;
    width: 800px;
    opacity: 0.2;
    z-index: -1;
}

@media (max-width: 991px) {
    .bg-circle {
        height: 400px;
        width: 400px;
        top: -200px;
        left: -200px;
    }
}

@media (max-width: 767px) {
    .bg-circle {
        display: none;
    }
}

.bg-circle-two {
    position: absolute;
    background-color: #7642FF;
    background-image: linear-gradient(100deg, #7642FF, #4259ff);
    top: 150px;
    left: 350px;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    opacity: 0.8;
    z-index: -1;
}

@media (max-width: 991px) {
    .bg-circle-two {
        top: 150px;
        left: 70px;
        height: 50px;
        width: 50px;
    }
}

@media (max-width: 767px) {
    .bg-circle-two {
        display: none;
    }
}

.text-muted {
    color: #a7a2ce !important;
}

.macbook-hero {
    max-width: 1100px;
    position: relative;
    margin: 0 auto;
}

.macbook-hero .macbook-screen {
    position: absolute;
    left: 12.4%;
    top: 5.4%;
    right: 11.8%;
    bottom: 30.8%;
    max-width: 836px;
    max-height: 522px;
    background-color: #fff;
}

.macbook-hero .macbook-screen img {
    width: 100%;
    height: 100%;
}

.section {
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.gradient-mask {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: -webkit-gradient(linear, left top, right top, from(#7642FF), to(#4259ff));
}

.navbar {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.navbar-nav .btn {
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar.bg-light {
    padding: 0.4rem;
    background-color: #fff !important;
    -webkit-box-shadow: 0px 1px 7px 0px rgba(62, 57, 107, 0.1);
    box-shadow: 0px 1px 7px 0px rgba(62, 57, 107, 0.1);
}

.navbar-brand strong {
    font-weight: 500;
    font-size: 2rem;
}

.navbar-logo {
    height: 3rem;
}

.nav-link {
    padding: .3rem 1rem;
    text-align: center;
}

@media (max-width: 991px) {
    .navbar-nav {
        margin-bottom: 1rem;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

@media (min-width: 992px) {
    .navbar-nav .nav-link:before {
        content: "";
        height: 1px;
        position: absolute;
        bottom: 5px;
        left: 50%;
        right: 50%;
        border-bottom: 1px solid #7642FF;
        margin-right: auto;
        margin-left: auto;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
}

.youtube {
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    cursor: pointer;
}

.youtube .play {
    background-color: #fff;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 0px 9px 30px 0px rgba(62, 57, 107, 0.2);
    box-shadow: 0px 9px 30px 0px rgba(62, 57, 107, 0.2);
    text-align: center;
    padding: 17px 20px;
}

.youtube .play span {
    color: #7642FF;
}

.cast-shadow {
    border-radius: 10px;
    -webkit-box-shadow: 0px 9px 60px 0px rgba(62, 57, 107, 0.2);
    box-shadow: 0px 9px 60px 0px rgba(62, 57, 107, 0.2);
}

.media-icon i {
    min-width: 50px;
    color: #7642FF;
}

@media (min-width: 992px) {
    .site-logos-sec {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (max-width: 991px) {
    .site-logos-sec img {
        height: 50px;
    }
}

.site-logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.site-logos a.site {
    height: 50px;
    margin: 10px;
}

.site-logos img {
    height: 100%;
}
